@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  text-align: center;
  background-color: $light-gray;
  border-radius: 8px;
  padding: 8px 4px;
  .label {
    font-weight: $font-bold;
    font-size: 14px;
    margin-bottom: 4px;
  }
}