@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  
  @media screen and (max-width: $breakpoint-md) {
    padding: 30px;
  }
}